body {
  margin: 3.3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #adb5bd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.updateForm {
  /* display: block; */
}

.form_wrap {
  flex-wrap: wrap;
  width: 50%;
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 15px;
}

label {
  float: left;
  clear: left;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: aliceblue;
}

.form_wrap {
  width: 30%;
  padding: 3%;
  margin: 5px auto;
}

input {
  width: 100%;
  height: 10px;
  padding: 13px 8px;
  margin: 15px 0 9px 0;
  font-size: .8em;
  border: .5px solid #ced4da;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type=textarea] {
  padding-bottom: 30px;
}

button,
input[type="submit"] {
  width: 75px;
  height:30px;
  text-align: center;
  text-transform: uppercase;
  background: #ced4da;
  border-radius: 10px;

  box-shadow: 0 2px 3px #5e5d5b;
}
input[type="submit"], .delete-edit-btn {
  line-height: .5em;
  margin:5px 3px auto;
}

nav {
  display: flex;
  align-items: center;
  background-color: #6c757d;
  padding: .2em;
  border-radius: 15px;
}

nav button {
  width: 10%;
  margin-left: 50px;
  padding: 10px;
}

h1 {
  padding: 5px;
}
