body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #adb5bd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.form_wrap {
  display: block;
  /* width: 50%; */
  /* margin: auto; */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */

}
.updateForm {
  /* display: block; */
}

.form_wrap, .updateForm {
  flex-wrap: wrap;
  width: 75%;
  text-align: center;
}


label {
  float: left;
  clear: left;
}

.form_wrap input {
  margin-left: 30px;
}

input {
  width: 50%;
  margin-top: .2em;
}
input[type=textarea] {
  padding-bottom: 12px;
  /* text-align: center; */
}

input, label, button {
  /* padding: .5em; */
  /* margin: .2em; */
}

button,
input[type="submit"] {
  width: 75px;
  text-align: center;
  text-transform: uppercase;
  background: #ced4da;
  border-radius: 10px;
}

textarea {
  resize: none;
  /* width: 500px; */
}
