body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #adb5bd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
}

.form_wrap {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.form_wrap label {
  margin: 10px;
}

input, button {
  border-radius: 10px;
}

input, label, button {
  padding: .5em;
  margin: .2em;
}

button,
input[type="submit"] {
  width: 75px;
  text-align: center;
  text-transform: uppercase;
  background: #ced4da;
}
