button {
  border: 0;
  padding: 10px 10px;
  font-size: .5em;

}
.post-card {
  background-color: aliceblue;
  border-radius: 15px;
  width: 32.5%;
  float: left;
  padding: .2em;
  margin: .12%;
}

img {
  height: 50%;
  width: 98%;
  border-radius: 10px;
}

.description {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 11px;
}
