.post-card {
  /* border: 1px solid #212529; */
  background-color: #495057;
  border-radius: 15px;
  margin: 10px;
  width: 20%;
  padding: .2em;
  /* align-items: baseline; */
}

img {
  height: 40%;
  width: 98%;
  border-radius: 10px;
}
