

button {
  border: 0;
  padding: 10px 10px;
  font-size: .5em;


}
.post-card {
  /* border: 1px solid #212529; */
  background-color: aliceblue;

  border-radius: 15px;
  width: 33%;
  float: left;
  padding: .2em;
  /* align-items: baseline; */
}

img {
  height: 40%;
  width: 98%;
  border-radius: 10px;
}
